.contacto{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.contacto h1{
    text-align: center;
}

.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form p {
    margin: 5px;
}

.contact-form h3, .contacto-info h3{
    text-align: center;
}

.contact-form form textarea, input{
    width: 100%;
    padding: .7em;
}

.contact-form form .block{
    grid-column: 1/3;
}

.contact-form button{
    background-color: black;
    padding: 1em;
    color: white;
    width: 15%;
}

.contact-form button:hover{
    background-color: rgb(41, 41, 41);
}

.contacto-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.contact-form{
    grid-row: 1/2;
}

.contact-info{
    grid-row: 2/3;
}