*{
    box-sizing: border-box;
}

body{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style-type: none;

}

/* BANNER */

header{
    /*background-color: #605b50;*/
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgcv{
    width: 20%;
    height: 20%;
    border-radius: 100%;
}

#titulocv{
    margin-left: 40px;
}

#titulocv h1{
    font-weight: 700;
    font-style: italic;
}

/* Navbar */

.nav1{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav1 a, a:visited{
    color: white;
    text-decoration: none;
    
}

.nav1 a:active{
    color:rgb(255, 236, 161);
}

.nav1 a:hover{
    color:rgb(255, 247, 236)
}

.nav1 ul{
    margin: 0px;
    padding: 0px;
}

.nav1 ul li{
    margin: 5px;
    display: inline-block;
}

/* MAIN */

main{
    display: grid;
    grid-template-columns: 50% 1fr;
}

#datos ul{
    padding: 0px;
}

#datos ul li{
    margin: 5px;
}

/* Info */

.dato{
    font-weight: bold;
}

#datos ul{
    margin: 0px;
}

/*Boxes*/

.boxheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar{
    background-color: rgb(79, 79, 79);
    margin-left: 5%;
    width:75%;
    height: 1px;
}

#about{
    grid-column-start: 1;
    grid-column-end: 2;
}

#about p{
    margin: 0px;
}

.box{
    box-sizing: content-box;
    margin: 15px;
}